/* Inserta tu CSS aqui{ } */
body{ 
	margin: 0px;
	padding: 0px;
	}

 .red{ 
	background: #ee3e64 ;
	width: 200px;
	height: 200px;
	position: absolute;
	left: 0px;
	top: 0px;
}

 .blue{ 
	background: #44accf ;
	width: 200px;
	height: 200px;
	position: absolute;
	left: 200px;
	top: 200px;
}

 .green{ 
	background: #b7d84b ;
	width: 200px;
	height: 200px;
	position: absolute;
	left: 0px;
	top: 200px;
}
.yellow{ 
	background: yellow ;
	width: 200px;
	height: 200px;
	position: absolute;
	left: 0px;
	top: 400px;
}